---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>My Reading Log</h1>

  <p>
    <a href="/books">Browse all books</a>
  </p>

  <p>
    <a href="/search">Search</a>
  </p>
</BaseLayout>