<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><slot name="title" /></title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/books">Books</a>
      <a href="/search">Search</a>
    </nav>

    <main>
      <slot />
    </main>
  </body>
</html>