<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><slot name="title" /></title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/books/by-year">By Year</a>
      <a href="/authors">By Author</a>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>